{% extends 'base.html' %}

{% block content %}
<div class="visible-desktop container body-wrapper">
  <div class="row">
  <h3>Analyze</h3>
  {% if analysis.status %}
    <div class="col-xs-2">
    {% if analysis.status == 1 or analysis.status > 4 %}
      <form action="{% url 'start-analysis' analysis.pk %}" method="POST">
        {% csrf_token %}
        <input class="btn btn-success" type="submit" name="start" value="Start" />
      </form>
    {% else %}
      <form action="{% url 'stop-analysis' analysis.pk %}" method="POST">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" name="stop" value="Stop" />
      </form>
    {% endif %}
    </div>
  {% endif %}
  <div class="col-xs-2">
  <form action="{% url 'destroy-analysis' analysis.pk %}" method="POST">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" name="destroy" onclick="return confirm('Are you sure?');" value="Destroy" />
  </form>
  </div>
  </div>
  <div class="row">
  <h4>Status</h4>
  <div id="status">
  </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    var stat = {{ analysis.status }};
    console.log(stat);
    var stat_string = "";
    switch(stat) {
        case 1:
            stat_string = "Analysis Configured, waiting for start";
            break;
        case 2:
            $.getJSON('{% url 'crawler-status' analysis.pk %}', function(data) {
                console.log(data);
                stat_string = "Crawled " + data['count'] + " documents";
            });
            break;
        case 3:
            $.getJSON('{% url 'preprocess-status' analysis.pk %}', function(data) {
                console.log(data);
                stat_string = "Preprocessed " + data['count'] + " documents out of " + data['source'];
            });
            break;
        case 4:
            $.getJSON('{% url 'query-status' analysis.pk %}', function(data) {
                console.log(data);
                stat_string = "Created " + data['count'] + " annotations from query";
            });
            break;
        case 5:
            stat_string = "Analysis finished, please proceed to Explore";
            break;
        case 6:
            stat_string = "Analysis stopped";
            break;
        case 0:
            stat_string = "Analysis configuration not complete";
            break;
    }
    $("#status").text(stat_string);
});
</script>
{% endblock %}
