{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% if user.is_superuser or user in tree.project.assigned.all %}
<div class="visible-desktop container body-wrapper">
<h1>{{ tree.name }}</h1>
<form action="" method="POST">
<div class="table-responsive" data-toggle="tooltip" data-html="true">
  <table class="table table-striped">
      {% csrf_token %}
    <tr><td>Explain what this does here.</td></tr>
    <tr><td>{{ form.errors }}</td></tr>
    <tr>
      <td>{{ form.annotype.label }}</td>
      <td>{{ form.dictionaries.label }}</td>
      <td>{{ form.andor.label }}</td>
      <td>{{ form.regexs.label }}</td>
    </tr>
    <tr>
      <td>{{ form.annotype }}</td>
      <td>{{ form.dictionaries }}</td>
      <td>{{ form.andor }}</td>
      <td>{{ form.regexs }}</td>
    </tr>
  </table>
</div>
  <button class="btn btn-success" type="submit" name="query" value="submit">Make Annotations</button>
</div>
</form>

{% else %}
    {% include '404.html' %}
{% endif %}
{% endblock %}
{% block scripts %}
<script src="{% static 'js/tree.jquery.js' %}"></script>
<script src="{% static 'js/spin.js' %}"></script>
<script src="{% static 'js/jquery.cookie-1.4.1.min.js' %}"></script>
<script src="{% static 'js/django_mptt_admin_query.js' %}"></script>
{% endblock %}
