{% extends "base.html" %}

{% block content %}
<div class="visible-desktop container body-wrapper">
<h3>
    <a href="{% url "tree-detail" tree.slug %}">{{ tree.name }}</a>
    : Annotations
</h3>
<div class="form-group row">
<div class="col-xs-6">
<a href="{% url 'update-dictionaries' tree.slug %}" class="btn btn-default">Update Dictionaries</a>
<a href="{% url 'tree-process' tree.slug %}" class="btn btn-default">Process Tree</a>
<a href="{% url 'query' tree.slug %}" class="btn btn-primary">Create Query</a>
</div>
<form action="" method="POST">
  {% csrf_token %}
  <div class="col-xs-2">
  {{ form.category }}
  </div>
  <div class="col-xs-3">
  {{ form.query }}
  </div>
  <div class="col-xs-1">
  <input class="btn btn-success" type="submit" name="submit" value="Run Query" onclick="processedCheck();" />   
  </div>
</form>
</div>
<h2>Annotations</h2>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/fh-3.1.2/r-2.1.1/datatables.min.css"/>
<table id="querytable" class="table table-responsive">
  <thead>
    <th>ID</th>
    <th>Content</th>
    <th>URL</th>
    <th>Query</th>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
  </tfoot>
</table>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/fh-3.1.2/r-2.1.1/datatables.min.js"></script>
<script type="text/javascript">
  function processedCheck() {
    $.getJSON({% url 'process-check' tree.slug %});
  }

  var dataSet = {{ query_results | safe }};
  console.log(dataSet);
  $(document).ready(function() {
    $("#querytable").DataTable({
      "data": dataSet,
      "pagingType": "full_numbers",
      "columns": [
        { title: "ID" },
        { title: "Content" },
        { title: "URL" },
        { title: "Query" }
      ]
    });
  });
</script>
{% endblock %}
