{% extends "base.html" %}

{% block content %}
<div class="visible-desktop container body-wrapper">
<h1>
    <a href="{% url "tree-detail" tree.project.slug tree.slug %}">{{ tree.name }}</a>
    : Annotations
</h1>
<div class="table-responsive" data-toggle="tooltip" data-html="true">
<a href="{% url 'make-annotations' tree.slug %}" class="btn btn-success">Make Annotations</a>
<h2>Dictionary Annotations</h2>
<table class="table table-striped">
    <tr>
        <th>Dictionary Word</th>
        <th>Content</th>
        <th>Document ID</th>
        <th>Part of Speech</th>
        <th>Score</th>
    </tr>
{% for anno in dict_anno_list %}
    <tr>
        <td>{{ anno.rule.word }}</td>
        <td>{{ anno.content }}</td>
        <td>{{ anno.document.id }}</td>
        <td>{{ anno.pos }}</td>
        <td>{{ anno.score }}</td>
    </tr>
{% empty %}
    <tr><td>No annotations yet.</td></tr>
{% endfor %}
</table>
</div>
<div class="table-responsive" data-toggle="tooltip" data-html="true">
<h2>Regex Annotations</h2>
<table class="table table-striped">
    <tr>
        <th>Regex</th>
        <th>Content</th>
        <th>Document ID</th>
        <th>Part of Speech</th>
        <th>Score</th>
    </tr>
{% for anno in regex_anno_list %}
    <tr>
        <td>{{ anno.rule.regex | default_if_none:anno.rule.name }}</td>
        <td>{{ anno.content }}</td>
        <td>{{ anno.document.id }}</td>
        <td>{{ anno.pos }}</td>
        <td>{{ anno.score }}</td>
    </tr>
{% empty %}
    <tr><td>No annotations yet.</td></tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}
