{% extends "base.html" %}

{% block content %}
<div class="visible-desktop container body-wrapper">
<h1>Step: {{ step }}</h1>
<div class="row">
{{ crawler }}
<h3>1. Crawler</h3>
<div id="crawler" class="collapse in">
<form id="crawler_form" action="" method="POST" novalidate>
  {% csrf_token %}
  <div class="form-group row">
    {{ crawler_form.errors }}
    <div class="col-xs-2">
      <label class="control-label" for="name">
        {{ crawler_form.name.label }} 
      </label>
      {{ crawler_form.name }}
    </div>
    <div class="col-xs-2" id="crawler_category">
      <label class="control-label" for="category">
        {{ crawler_form.category.label }}  
      </label>
      {{ crawler_form.category }}
    </div>
    <div class="col-xs-2">
      <label class="control-label" for="index">
        {{ crawler_form.index.label }}  
      </label>
      {{ crawler_form.index }}
      <div id="crawler_index_form" class="collapse in">
        <br />New Index Name{{ crawler_form.new_index }}
      </div>
    </div>
    <div class="col-xs-4">
      <div id="form_seed_list">
        <label class="control-label" for="seed_list">
          Seed List
        </label> (one per line)
        <textarea class="form-control" name="seed_list" id="seed_list"></textarea>
      </div>
    </div>
    <div class="col-xs-2">
      <label class="control-label" for="new_crawler"></label>
      <button class="btn btn-success" type="submit" name="crawler_form" value="submit">Save</button>
    </div>
  </div>
</form>
</div>
</div>
<div class="row">
<h3>2. Dictionaries</h3>
<div id="dictionaries" class="collapse in">
  <form id="dictionary" action="" method="POST">
    {% csrf_token %}
    <div class="col-xs-2">
      <b>{{ dict_form.name.label }}</b>
      {{ dict_form.name }}
    </div>
    <div class="col-xs-3">
      <b>{{ dict_form.words.label }}</b> (one per line)
      {{ dict_form.words }}
    </div>
    <div class="col-xs-2">
      <button class="btn btn-success" type="submit" name="dict_form" value="submit">Save</button>
    </div>
  </form>
    <div class="col-xs-5">
      <a href="{% url 'update-dicts' %}" class="btn btn-primary">Load Defaults</a>
      <ul>
      {% for d in dictionaries %}
        {{ d.name }}
      {% endfor %}
      </ul>
    </div>
</div>
</div>
<div class="row">
{{ mindmap }}
<h3>3. MindMap</h3>
<div id="mindmap" class="collapse in">
  <form id="mindmap" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ mm_form.errors }}
   <div class="form-group row">
    <div class="col-xs-2">
      <b>{{ mm_form.name.label }}</b>
      {{ mm_form.name }}
    </div>
    <div class="col-xs-2">
      <b>{{ mm_form.doc_dest_index.label }}</b>
      {{ mm_form.doc_dest_index }}
      <div id="new_dest" class="collapse in">
        <br />New Index Name{{ mm_form.new_dest_index }}
      </div>
    </div>
    <div class="col-xs-4">
      {{ mm_form.file.label }}
      {{ mm_form.file }}
    </div>
    <div class="col-xs-2">
      <button class="btn btn-success" type="submit" id="mm_form" value="submit">Save</button>
    </div>
   </div>
  </form>
</div>
</div>
<div class="row">
<h3>4. Query</h3>
<div id="queries" class="collapse in">
  <form action="" method="POST">
  {% csrf_token %}
    <div class="col-xs-2">
    <b>{{ query_form.category.label }}</b>
    {{ query_form.category }}
    </div>
    <div class="col-xs-3">
    </div>
    <div class="col-xs-1">
    <button class="btn btn-success" type="submit" id="query_form" value="submit">Save</button>
    </div>
  </form>
</div>
</div>
<div class="row">
<h3>5. Analyze</h3>
<div id="analyze" class="collapse in">
  <form action="{% url 'start-analysis' analysis.pk %}" method="POST">
    {% csrf_token %}
    <input class="btn btn-success" type="submit" name="start" value="Start" />
  </form>
</div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
  $('#id_crawler-index').change(function() {
    if($("#id_crawler-index").val() != null) {
      console.log($("#id_crawler-index").val());
      $('#crawler_index_form').removeClass('in');
    }
    else {
      $('#crawler_index_form').addClass('in');
    }
  });
  $('#id_mindmap-doc_dest_index'.change(function() {
  });
});
</script>
{% endblock %}
