{% extends "base.html" %}
{% block content %}
<div class="visible-desktop container body-wrapper">
  <div class="row">
    <h3>1. Crawler</h3>
    <div id="crawler" class="collapse in">
      <p>URLs: Insert a list of URLs (one per line) to start crawler with. Crawler will follow all links on these pages.</p>
      {% if seed_list %}
      <div class="col-xs-6">
        <ul>
        {% for seed in seed_list %}
          <li><a href="{{ seed }}">{{ seed }}</a></li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-xs-6">
        <form action="" method="POST">
          {% csrf_token %}
          {{ form.seed_list }}
          <button class="btn btn-success" type="submit" name="crawler" value="submit">Save</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <h3>2. MindMap</h3>
    <div id="mindmap" class="collapse in">
      <p>MindMap: Import a MindMap (.mm) file to create rules from Regular Expressions</p>
      {% if mindmap.nodes.all %}
      <div id="tree" class="col-xs-6">
      </div>
      {% endif %}
      <div class="col-xs-6">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.file }}
          <button class="btn btn-success" type="submit" name="mindmap" value="submit">Save</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <h3>3. Dictionaries</h3>
    <div id="dictionaries" class="collapse in">
      <p>Dictionary Management</p>
    </div>
  </div>
  <div class="row">
    <h3>4. Query</h3>
    <div id="queries" class="collapse in">
      <p>Needs intuitive way of explaining/showing how this form works</p>
      <div class="col-xs-12">
      <form id="query_form" action="" method="POST">
      {% csrf_token %}
        <div id="query_parts" class="row">
          <div id="query_1" class="col-xs-3"> 
            {{ form.part_type }} 
            <div id="query_part_1">
              {{ form.regex }}
            </div>
          </div>
        </div>
        <span class="row"></span>
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-3"></div>
          <div class="col-xs-3"></div>
          <div id="query_buttons" class="col-xs-3">
            <input type="button" id="add_query" value="+" class="btn btn-primary" onclick="javascript: add_query_part();" />
          </div>
        </div>
        <span class="row"></span>
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-3"></div>
          <div class="col-xs-3">
            {{ form.category }}
          </div>
          <div class="col-xs-3">
            <button class="btn btn-success" type="submit" name="query" value="submit">Save</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
var count = 1;
function add_query_part() {
  var parts = document.getElementById('query_parts');
  if(parts) {
    count++;
    var part_div = `<div id="query_` + count + `" class="col-xs-3">{{ form.op }}{{ form.part_type }}<div id="query_part_` + count + `">{{ form.regex }}</div>`;
    parts.insertAdjacentHTML("beforeend", part_div);
  }
  if(count > 1) {
    var sub_button = document.getElementById('subtract_query');
    if(!sub_button) {
      var buttons = document.getElementById('query_buttons');
      var sub_button = `<input type="button" id="subtract_query" value="-" class="btn btn-danger" onclick="javascript: subtract_query_part();" />`
      buttons.insertAdjacentHTML("beforeend", sub_button);
    }
  }
}

function subtract_query_part() {
  var query = document.getElementById('query_' + count);
  if(query && count > 1) {
    query.parentNode.removeChild(query);
    count--;
  }
  if(count == 1) {
     var sub_button = document.getElementById('subtract_query');
     sub_button.parentNode.removeChild(sub_button);
  }
}

function update_query_part(form_num, val) {
  var part_div = document.getElementById('query_part_' + form_num);
  if(val == 0) {
    part_div.innerHTML = `{{ form.regex }}`;
  }
  else if(val == 1) {
    part_div.innerHTML = `{{ form.dictionary }}`;
  }
  else {
    part_div.innerHTML = `{{ form.part_of_speech }}`;
  }
}

function make_tree(tree) {
    console.log('hit');
    tree_html = `<div class="list-group list-group-root">`;
    for (var i = 0; i < tree.length; i++) {
        tree_html += unroll(tree[i]);
    }
    tree_html += "</div>";
    return tree_html;
}

function unroll(node) {
    var list = `<a `;
    if (node.hasOwnProperty('children') && node['children'].length) {
        list += `href="#` + node.id + `" class="list-group-item" data-toggle="collapse"><i class="glyphicon glyphicon-chevron-right"></i>`;
        list += " " + node.label;
        if(node.regex) {
            list += " : " + node.regex;
        }
        list += " " + `<i class="glyphicon glyphicon-pencil"></i>` + " " + `<i class="glyphicon glyphicon-trash"></i>`
        list += `<div id="` + node.id + `" class="list-group collapse">`;
        for (var child in node['children']) {
            list += unroll(node['children'][child]);
        }
        list += "</div>";
    }
    else {
        list += `href="#" class="list-group-item">` + node.label 
    }
    list += "</a>";
    return list;
}

$(document).ready(function() {
  //query change form
  $('body').on('change', 'select[id^="id_part_type"]', function() {
    update_query_part($(this).parent().prop('id').slice(6), this.value);
  });

  //display tree
  var tree = JSON.parse("{{ tree_json | escapejs }}");
  $('#tree').append(make_tree(tree));

  //collapsible tree
  $('.list-group-item').on('click', function() {
    $('.glyphicon', this)
      .toggleClass('glyphicon-chevron-up')
      .toggleClass('glyphicon-chevron-right');
    console.log('toggled');
  });
});
</script>
{% endblock %}
