{% extends "base.html" %}
{% block content %}
<div class="visible-desktop container body-wrapper">
  <div class="row">
    <h3><a href="#crawler" class="root" data-toggle="collapse"><i id="dropdown" class="glyphicon glyphicon-chevron-up"></i>1. Crawler</a>
      {% if seed_list %} 
        <i class="glyphicon glyphicon-ok"></i>
      {% else %}
        <i class="glyphicon glyphicon-remove"></i>
      {% endif %}
    </h3>
    <div id="crawler" class="collapse in">
      <p>URLs: Insert a list of URLs to start crawler with. Crawler will follow all links on these pages.</p>
      {% if seed_list %}
      <div class="col-xs-6">
        <ul class="list-group">
        {% for seed,pk in seed_list %}
          <li class="list-group-item">
            <a href="{{ seed }}">{{ seed }}</a> &emsp;
            <a href="#seed-{{pk}}" id="seed-{{pk}}" class="glyphicon glyphicon-pencil"></a>
            <a href="{% url 'delete-seed-pk' pk %}" class="glyphicon glyphicon-trash"></a>
          </li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-xs-6">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="col-xs-10">
            {{ form.seed_list }}
          </div>
          <div class="col-xs-2">
            <button class="btn btn-primary" type="submit" name="crawler" value="submit"><i class="glyphicon glyphicon-plus"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <h3><a href="#mindmap" class="root" data-toggle="collapse"><i id="dropdown" class="glyphicon glyphicon-chevron-right"></i>2. MindMap</a>
      {% if mindmap.nodes.all %} 
        <i class="glyphicon glyphicon-ok"></i>
      {% else %}
        <i class="glyphicon glyphicon-remove"></i>
      {% endif %}
    </h3>
    <div id="mindmap" class="collapse">
      <p>MindMap: Import a MindMap (.mm) file to create rules from Regular Expressions</p>
      {% if mindmap.nodes.all %}
      <div id="tree" class="col-xs-6">
      </div>
      {% endif %}
      <div class="col-xs-6">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="col-xs-10">
            {{ form.file }}
          </div>
          <div class="col-xs-2">
            <button class="btn btn-primary" type="submit" name="mindmap" value="submit"><i class="glyphicon glyphicon-arrow-up"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <h3><a href="#dictionaries" class="root" data-toggle="collapse"><i id="dropdown" class="glyphicon glyphicon-chevron-right"></i>3. Dictionaries</a>
      {% if dictionaries %} 
        <i class="glyphicon glyphicon-ok"></i>
      {% else %}
        <i class="glyphicon glyphicon-remove"></i>
      {% endif %}
    </h3>
    <div id="dictionaries" class="collapse">
      <p><a href="{% url 'update-dicts' %}">Load System Dictionaries</a> : reads in all dictionaries from {{ dict_path }} (may take a while)</p>
      <div id="dicts" class="col-xs-6">
        <div class="list-group list-group-root">
          {% for dict in dictionaries %}
            <div class="list-group-item">
              {{ dict.name }} &emsp;
              <a href="#dict-{{dict.pk}}" id="dict-{{dict.pk}}" class="glyphicon glyphicon-pencil"></a>
              <a href="{% url 'delete-dict-pk' dict.pk %}" class="glyphicon glyphicon-trash"></a>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-xs-6">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="col-xs-10">
              {{ form.dict_name }}
              {{ form.words }}
          </div>
          <div class="col-xs-2">
            <button class="btn btn-primary" type="submit" name="new_dict" value="submit"><i class="glyphicon glyphicon-plus"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <h3><a href="#queries" class="root" data-toggle="collapse"><i id="dropdown" class="glyphicon glyphicon-chevron-right"></i>4. Query</a>
      {% if query.parts.all %} 
        <i class="glyphicon glyphicon-ok"></i>
      {% else %}
        <i class="glyphicon glyphicon-remove"></i>
      {% endif %}
    </h3>
    <div id="queries" class="collapse">
      <p>{{ query.string }}</p><p>Needs intuitive way of explaining/showing how this form works</p>
      <div class="col-xs-12">
      <form id="query_form" action="" method="POST">
      {% csrf_token %}
        <div id="query_parts" class="row">
          <div id="query_1" class="col-xs-3"> 
            {{ form.part_type }} 
            <div id="query_part_1">
              {{ form.regex }}
            </div>
          </div>
        </div>
        <span class="row"></span>
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-3"></div>
          <div class="col-xs-3"></div>
          <div id="query_buttons" class="col-xs-3">
            <input type="button" id="add_query" value="+" class="btn btn-primary" onclick="javascript: add_query_part();" />
          </div>
        </div>
        <span class="row"></span>
        <div class="row">
          <div class="col-xs-8"></div>
          <div class="col-xs-4">
            <div class="col-xs-8">
              {{ form.category }}
            </div>
            <div class="col-xs-4">
              <button class="btn btn-success" type="submit" name="query" value="submit">Save</button>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
var count = 1;
function add_query_part() {
  var parts = document.getElementById('query_parts');
  if(parts) {
    count++;
    var part_div = `<div id="query_` + count + `" class="col-xs-3">{{ form.op }}{{ form.part_type }}<div id="query_part_` + count + `">{{ form.regex }}</div>`;
    parts.insertAdjacentHTML("beforeend", part_div);
  }
  if(count > 1) {
    var sub_button = document.getElementById('subtract_query');
    if(!sub_button) {
      var buttons = document.getElementById('query_buttons');
      var sub_button = `<input type="button" id="subtract_query" value="-" class="btn btn-danger" onclick="javascript: subtract_query_part();" />`
      buttons.insertAdjacentHTML("beforeend", sub_button);
    }
  }
}

function subtract_query_part() {
  var query = document.getElementById('query_' + count);
  if(query && count > 1) {
    query.parentNode.removeChild(query);
    count--;
  }
  if(count == 1) {
     var sub_button = document.getElementById('subtract_query');
     sub_button.parentNode.removeChild(sub_button);
  }
}

function update_query_part(form_num, val) {
  var part_div = document.getElementById('query_part_' + form_num);
  if(val == 0) {
    part_div.innerHTML = `{{ form.regex }}`;
  }
  else if(val == 1) {
    part_div.innerHTML = `{{ form.dictionary }}`;
  }
  else {
    part_div.innerHTML = `{{ form.part_of_speech }}`;
  }
}

function make_tree(tree) {
    tree_html = `<div class="list-group list-group-root">`;
    for (var i = 0; i < tree.length; i++) {
        tree_html += unroll(tree[i]);
    }
    tree_html += "</div>";
    return tree_html;
}

function unroll(node) {
    var list = ``;
    if (node.hasOwnProperty('children') && node['children'].length) {
        list += `<div class="list-group-item"><a href="#n-` + node.id + `" data-toggle="collapse" class="root"><i id="dropdown" class="glyphicon glyphicon-chevron-right"></i>`;
        list += " " + node.label;
        if(node.regex) {
            list += " : " + node.regex;
        }
        list += "</a> " + `&emsp;<a href="#node-` + node.id + `" id="node-` + node.id + `" class="glyphicon glyphicon-pencil"></a>` + " " + `<a href="{% url 'delete-node' %}` + node.id + `" class="glyphicon glyphicon-trash"></a>`
        list += `</div><div id="n-` + node.id + `" class="list-group collapse">`;
        for (var child in node['children']) {
            list += unroll(node['children'][child]);
        }
        list += "</div>";
    }
    else {
        list += `<div class="list-group-item"><a href="#n-` + node.id + `" data-toggle="collapse">` + node.label;
        if(node.regex) {
            list += " : " + node.regex;
        }
        list += `</a>&emsp;<a href="#node-` + node.id + `" id="node-` + node.id + `" class="glyphicon glyphicon-pencil"></a>` + " " + `<a href="{% url 'delete-node' %}` + node.id + `" class="glyphicon glyphicon-trash"></a></div>`
    }
    return list;
}

function edit_seed_form(pk, item, edit) {
    if (edit) {
        var url = $(item).children(":first").text();
        var form = `<form action="{% url 'edit-seed' %}` + pk + `/" method="POST">{% csrf_token %}`;
        form += `<div class="row"><div class="col-xs-9"><input type="text" id="url" name="url" value="` + url + `" class="form-control" /></div>`;
        form += `<div class="col-xs-3"><button class="btn btn-sm btn-link" type="submit" name="seed" value="submit"><i class="glyphicon glyphicon-ok"></i></button>`;
        form += `<a href="#seed-` + pk + `" class="btn btn-sm" id="seed-` + pk + `"><i class="glyphicon glyphicon-remove"></i></a>`;
        form += `</div></div></form>`;
        $(item).html(form);
    } else {
        var seeds = eval("{{ seed_list|safe }}");
        var url = "";
        for (var i=0; i<seeds.length; i++) {
            if (seeds[i][1] == pk) {
                url = seeds[i][0];
                break;
            }
        }
        var li = `<a href="` + url + `">` + url + `</a>&emsp;
            <a href="#seed-` + pk + `" id="seed-` + pk + `" class="glyphicon glyphicon-pencil"></a>
            <a href="{% url 'delete-seed' %}` + pk + `" class="glyphicon glyphicon-trash"></a>`;
        $(item).html(li);
    }
}

function edit_node_form(pk, item, edit) {
    if (edit) {
        var text = $(item).children(":first").text().split(' : ');
        var name = text[0];
        var regex = text[1];
        if (!regex) {
            regex = '';
        }
        var form = `<form action="{% url 'edit-node' %}` + pk + `/" method="POST">{% csrf_token %}`;
        form += `<div class="row"><div class="col-xs-9">`;
        form += `<div class="col-xs-6">Name: <input type="text" id="node-name" name="name" value="` + name + `" class="form-control" /></div>`;
        form += `<div class="col-xs-6">Regex: <input type="text" id="node-regex" name="regex" value="` + regex + `" class="form-control" /></div></div>`;
        form += `<div class="col-xs-3"><button class="btn btn-sm btn-link" type="submit" name="mindmap" value="submit"><i class="glyphicon glyphicon-ok"></i></button>`;
        form += `<a href="#node-` + pk + `" class="btn btn-sm" id="node-` + pk + `"><i class="glyphicon glyphicon-remove"></i></a>`;
        form += `</div></form>`;
        $(item).html(form);
    } else {
        var nodes = eval("{{ tree_list | escapejs }}");
        var name = ""; var regex = ""; var children = false;
        for (var i=0; i<nodes.length; i++) {
            if (nodes[i].id == pk) {
                name = nodes[i].label;
                regex = nodes[i].regex;
                children = nodes[i].hasOwnProperty('children') && nodes[i]['children'].length;
                break;
            }
        }
        var div = `<a href="#n-` + pk + `" data-toggle="collapse" `;
        if(children) {
            div += `class="root"><i id="dropdown" class="glyphicon glyphicon-chevron-right"></i>`;
        }
        else { div += `>`; }
        div += " " + name;
        if(regex) {
            div += " : " + regex;
        }
        div += "</a> " + `&emsp;<a href="#node-` + pk + `" id="node-` + pk + `" class="glyphicon glyphicon-pencil"></a>` + " " + `<a href="{% url 'delete-node' %}` + pk + `" class="glyphicon glyphicon-trash"></a>`; 
        $(item).parent().parent().html(div);
    }
}

function edit_dict_form(pk, item, edit) {
    if(edit) {
        var name = $(item).text().trim();
        var dicts = JSON.parse("{{ dict_list | escapejs }}");
        var words = dicts[pk];
        var form = `<p>` + name + `</p><form action="{% url 'edit-dict' %}` + pk + `/" method="POST">{% csrf_token %}`;
        form += `<div class="row"><div class="col-xs-9"><textarea id="dict-words" name="words" class="form-control">` + words + `</textarea></div>`;
        form += `<div class="col-xs-3"><button class="btn btn-sm btn-link" type="submit" name="dictionary" value="submit"><i class="glyphicon glyphicon-ok"></i></button>`;
        form += `<a href="#dict-` + pk + `" class="btn btn-sm" id="dict-` + pk + `"><i class="glyphicon glyphicon-remove"></i></a></div>`;
        form += `</form>`;
        $(item).html(form);
    } else {
        var name = $(item).parent().parent().parent().find('p').text().trim();
        var div = `` + name + `&emsp;<a href="#dict-` + pk +`" id="dict-` + pk + `" class="glyphicon glyphicon-pencil"></a><a href="{% url 'delete-dict'` + pk +`" class="glyphicon glyphicon-trash"></a>`;
        $(item).parent().parent().parent().html(div);
    }
}

$(document).ready(function() {
  //query change form
  $('body').on('change', 'select[id^="id_part_type"]', function() {
    update_query_part($(this).parent().prop('id').slice(6), this.value);
  });

  //display tree
  var tree = JSON.parse("{{ tree_json | escapejs }}");
  $('#tree').append(make_tree(tree));

  //collapsible tree
  $('.root').on('click', function() {
    $('#dropdown', this)
      .toggleClass('glyphicon-chevron-up')
      .toggleClass('glyphicon-chevron-right');
  });

  $('body').on('click', 'a[id^="seed-"]', function() {
    edit_seed_form($(this).prop('id').slice(5), $(this).closest('li'), $(this).hasClass("glyphicon-pencil"));
  });

  $('body').on('click', 'a[id^="node-"]', function() {
    edit_node_form($(this).prop('id').slice(5), $(this).closest('div'), $(this).hasClass("glyphicon-pencil"));
  });
  $('body').on('click', 'a[id^="dict-"]', function() {
    edit_dict_form($(this).prop('id').slice(5), $(this).closest('div'), $(this).hasClass("glyphicon-pencil"));
  });
});
</script>
{% endblock %}
