{% extends "base.html" %}
{% block content %}
<div class="visible-desktop container body-wrapper">
    <div class="row">
      <div class="col-xs-6">
        <a href="{% url 'configure' %}" class="btn btn-xs btn-default">1. Configure <i class="glyphicon glyphicon-arrow-left"></i></a>
      </div>
      {% if ANALYSIS_STATUS > 7 %}
      <div class="col-xs-6 text-right">
        <a href="{% url 'explorer' %}" class="btn btn-xs btn-success">3. Explore <i class="glyphicon glyphicon-arrow-right"></i></a>
      </div> 
      {% endif %}
    </div>
    <div class="row">&emsp;</div>
  <div class="panel {% if ANALYSIS_STATUS > 7 %}panel-success{% else %} panel-info {% endif %}">
    <div class="panel-heading"><h3 class="panel-title">Controls</h3></div>
    <div id="controls" class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          
        </div>
      </div>
    </div>
  </div>
  <div class="panel {% if ANALYSIS_STATUS > 7 %}panel-success{% else %}panel-info{% endif %}">
    <div class="panel-heading"><h3 class="panel-title">Progress</h3></div>
    <div id="progress" class="panel-body">
      <div class="row">

      </div>
      <div class="row">

      </div>
      <div class="row">

      </div>
    </div>
  </div>
  <div class="row">&emsp;</div>
  <div class="row">
      <div class="col-xs-6">
        <a href="{% url 'configure' %}" class="btn btn-xs btn-default">1. Configure <i 
class="glyphicon glyphicon-arrow-left"></i></a>
      </div>
      {% if ANALYSIS_STATUS > 7 %}
      <div class="col-xs-6 text-right">
        <a href="{% url 'explorer' %}" class="btn btn-xs btn-success">3. Explore <i class="glyphicon glyphicon-arrow-right"></i></a>
      </div> 
      {% endif %}
    </div>
  <span class="row"></span>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {

});
</script>
{% endblock %}
