{% extends "base.html" %}

{% block content %}
<div class="visible-desktop container body-wrapper">
<h1>Mortar Projects</h1>
<div class="table-responsive" data-toggle="tooltip" data-html="true">
<table class="table table-striped">
{% for project in project_list %}
    <tr>
        <td><a href={% url 'project-detail' project.slug %}>{{ project.name }}</a></td>
        <td></td><td></td>
    </tr>
{% endfor %}
<form action="" method="POST">
  {% csrf_token %}
  <tr>
    <td>{{ form.name.label }}: {{ form.name }}</td>
    <td>{{ form.slug.label }}: {{ form.slug }}</td>
    <td><button class="btn btn-success" type="submit" id="new_project" value="Create">Create</button>
  </tr>
</form>
</table>
</div>
<h1>Mortar Dictionaries</h1>
<div class="table-responsive" data-toggle="tooltip" data-html="true">
<table class="table table-striped">
{% for dictionary in dict_list %}
    <tr>
        <td><a href={% url 'dictionary-detail' dictionary.pk %}>{{ dictionary.name }}</a></td>
    </tr>
{% empty %}
    <tr><td>No dictionaries yet.</td></tr>
{% endfor %}
</table>
</div>

</div>
{% endblock %}
