{% extends "base.html" %}

{% block content %}
<div class="visible-desktop container body-wrapper">
<h1>{{ project.name }}</h2>
<div class="table=responsive" data-toggle="tooltip" data-html="true">
<table class="table table-striped">
    <tr>
       <th>Tree</th>
       <th>Owner(s)</th>
       <th></th>
       <th></th>
    </tr>
{% for tree in project_trees %}
    <tr>
    <td><a class="btn btn-primary" href="{% url 'tree-detail' project.slug tree.slug %}">{{ tree.name }}</a></td>
    <td>owners</td>
    <td>
      <form action="" method="GET">
        <button class="btn btn-success" name="{{ tree.pk }}-duplicate" value="True">Duplicate</button>
      </form> 
    </td>
    <td>
      <form action="" method="GET">
        <button class="btn btn-danger" name="{{ tree.pk }}-delete" value="True" onclick="return confirm('Are you sure?')">Delete</button>
      </form>
    </td>
    </tr>
{% endfor %}
<form action="" method="POST">
  {% csrf_token %}
  <tr>
    <td>{{ form.name.label }}: {{ form.name }}</td>
    <td>owners or import</td>
    <td>{{ form.populate.label }}: {{ form.populate }}</td>
    <td><button class="btn btn-success" type="submit" id="new_tree" value="Create">Create</button>
  </tr>
</form>
</table>
</div>
</div>
{% endblock %}
