{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="visible-desktop container body-wrapper">
<h1>{{ tree.name }}</h1>
<p>Here you can build complex queries based off three types: all dictionaries, regexs in the tree, and previously created queries.<br /><br />You can also create a simple query by leaving the operator and second form blank.</p>
<form id="form" action="" method="POST" novalidate>
      {% csrf_token %}
  <div id="row_1" class="form-group row">
    <div class="col-xs-4">
        <select id="form_select_1" class="form-control">
          <option value="">---------</option>
          <option value="dict">Dictionary</option>
          <option value="regex">Regular Expression</option>
          <option value="pos">Part of Speech</option>
        </select>
    </div>
    <div class="col-xs-2">
       <select id="op" name="op" class="form-control">   
           <option value="">---------</option>
           <option value="+">AND</option>                     
           <option value="|">OR</option>                      
       </select>
    </div>
    <div class="col-xs-4">
        <select id="form_select_2" class="form-control">
          <option value="">---------</option>
          <option value="dict">Dictionary</option>
          <option value="regex">Regular Expression</option>
          <option value="subquery">Combined Query</option>
          <option value="pos">Part of Speech</option>
        </select>
    </div>
  </div>
  <div id="row_1_2" class="form-group row">
    <div class="col-xs-4">
        <div id="dict_form_1" class="collapse">{{ dict_form.dictionary }}</div>
        <div id="regex_form_1" class="collapse">{{ regex_form.regex }}</div>
        <div id="subquery_form_1" class="collapse">{{ subquery_form.subquery }}</div>
        <div id="pos_form_1" class="collapse">{{ pos_form.part_of_speech }}</div>
    </div>

    <div class="col-xs-2"></div>

    <div class="col-xs-4">
        <div id="dict_form_2" class="collapse">{{ dict_form.dictionary }}</div>
        <div id="regex_form_2" class="collapse">{{ regex_form.regex }}</div>
        <div id="subquery_form_2" class="collapse">{{ subquery_form.subquery }}</div>
        <div id="pos_form_2" class="collapse">{{ pos_form.part_of_speech }}</div>
    </div>
   </div>
</div>
  <input type="button" value="add query" class="btn btn-primary" onclick="javascript: addQueryPart();" />
  <button class="btn btn-success" type="submit" name="query" value="submit">Create Query</button>
</form>

</div>
{% endblock %}
{% block scripts %}
<script>
var count = 2;
function addQueryPart() {
    var form = document.getElementById('form');
    if (form) {
       
       var new_query_part = `
          <div id="row_` + count + `" class="form-group row">	
           <div class="col-xs-4"></div>
           <div class="col-xs-2">                               
            <select id="op" name="op" class="form-control">            
             <option value="+">AND</option>                     
             <option value="|">OR</option>                      
            </select>                                           
           </div>`;
       var lastrow = count;
       count++;
       new_query_part += `<div class="col-xs-4">                         	
            <select id="form_select_` + count + `" class="form-control">	
             <option value="">---------</option>		
             <option value="dict">Dictionary</option>		
             <option value="regex">Regular Expression</option>	
             <option value="subquery">Combined Query</option>	
             <option value="pos">Part of Speech</option>	
            </select>						
           </div>
           <div class="col-xs-1">
             <input value="&times;" type="button" class="btn btn-danger" onclick="javascript: delQueryPart(` + lastrow + `);" />
           </div>
          </div>						
          <div id="row_` + lastrow + `_2"class="form-group row">
           <div class="col-xs-4"></div>
           <div class="col-xs-2"></div>
           <div class="col-xs-4">
            <div id="dict_form_` + count + `" class="collapse">{{ dict_form.dictionary }}</div>
            <div id="regex_form_` + count + `" class="collapse">{{ regex_form.regex }}</div>
            <div id="subquery_form_` + count + `" class="collapse">{{ subquery_form.subquery }}</div>
            <div id="pos_form_` + count + `" class="collapse">{{ pos_form.part_of_speech }}</div>
           </div>
          </div>
          </div>
	`;
        form.insertAdjacentHTML("beforeend", new_query_part);
    }
}
function delQueryPart(formnum) {
    var row = document.getElementById("row_" + formnum);
    var row2 = document.getElementById("row_" + formnum + "_2");
    row.parentNode.removeChild(row);
    row2.parentNode.removeChild(row2);
    count--;
}
function check_form_selection(form_num, val) {
    if(val == 'dict') {
        $("#dict_form_" + form_num).removeClass('collapse');
        $("#regex_form_" + form_num).addClass('collapse');
        $("#subquery_form_" + form_num).addClass('collapse');
        $("#pos_form_" + form_num).addClass('collapse');
        $("#form_select_" + form_num).append('<input type="hidden" name="form_type_' + form_num + '" value="dictionary" />');
    }
    else if(val == 'regex') {
        $("#regex_form_" + form_num).removeClass('collapse');
        $("#dict_form_" + form_num).addClass('collapse');
        $("#subquery_form_" + form_num).addClass('collapse');
        $("#pos_form_" + form_num).addClass('collapse');
        $("#form_select_" + form_num).append('<input type="hidden" name="form_type_' + form_num + '" value="regex" />');
    }
    else if(val == 'subquery') {
        $("#subquery_form_" + form_num).removeClass('collapse');
        $("#dict_form_" + form_num).addClass('collapse');
        $("#regex_form_" + form_num).addClass('collapse');
        $("#pos_form_" + form_num).addClass('collapse');
        $("#form_select_" + form_num).append('<input type="hidden" name="form_type_' + form_num + '" value="subquery" />');
    }
    else if(val =='pos') {
        $("#pos_form_" + form_num).removeClass('collapse');
        $("#subquery_form_" + form_num).addClass('collapse');
        $("#dict_form_" + form_num).addClass('collapse');
        $("#regex_form_" + form_num).addClass('collapse');
        $("#form_select_" + form_num).append('<input type="hidden" name="form_type_' + form_num + '" value="part_of_speech" />');
    }
    else {
        $("#subquery_form_" + form_num).addClass('collapse');
        $("#dict_form_" + form_num).addClass('collapse');
        $("#regex_form_" + form_num).addClass('collapse');
        $("#pos_form_" + form_num).addClass('collapse');
        $("#form_select_" + form_num).append('<input type="hidden" name="form_type_' + form_num + '" value="" />');
    }
}

$('document').ready(function() {
    
    $('body').on('change', 'select[id^="form_select_"]', function() {
            check_form_selection(this.id.slice(12), this.value);
    });
});
</script>
{% endblock %}
