{% extends "base.html" %}

{% block content %}
<div class="visible-desktop container body-wrapper">
<h1>MindMaps
  <a id="toggle_form" href="#tree_form" class="btn btn-xs btn-primary" data-toggle="collapse">+</a>
</h1>
<div id="tree_form" class="collapse">
  <form id="new_tree" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
   <div class="form-group row">
    <div class="col-xs-2">
      {{ form.name.label }}
      {{ form.name }}
    </div>
    <div class="col-xs-2">
      {{ form.doc_source.label }}
      {{ form.doc_source }}
      <div id="new_source" class="collapse in">
        <br />New Index Name{{ form.new_source_index }}
      </div>
    </div>
    <div class="col-xs-2">
      {{ form.doc_dest.label }}
      {{ form.doc_dest }}
      <div id="new_dest" class="collapse in">
        <br />New Index Name{{ form.new_dest_index }}
      </div>
    </div>
    <div class="col-xs-3">
      {{ form.file.label }}
      {{ form.file }}
    </div>
    <div class="col-xs-2">
      <button class="btn btn-success" type="submit" id="new_tree" value="Create">Create</button>
    </div>
   </div>
  </form>
</div>
<div class="table-responsive" data-toggle="tooltip" data-html="true">
<table class="table table-striped">
{% for tree in trees %}
    <tr>
    <td><a href="{% url 'tree-detail' tree.slug %}">{{ tree.name }}</a></td>
    <td>
      <form action="" method="GET">
        <button class="btn btn-success" name="{{ tree.pk }}-duplicate" value="True">Duplicate</button>
      </form> 
    </td>
    <td>
      {% if tree.owner == user %}
      <form action="" method="GET">
        <button class="btn btn-danger" name="{{ tree.pk }}-delete" value="True" onclick="return confirm('Are you sure?')">Delete</button>
      </form>
      {% endif %}
    </td>
    </tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
  $('#id_doc_source').change(function() {
    console.log($("#id_doc_source").val());
    if($("#id_doc_source").val() == "") {
      $('#new_source').addClass('in');
    }
    else {
      $('#new_source').removeClass('in');
    }
  });
  $('#id_doc_dest').change(function() {
    if($("#id_doc_dest").val() == "") {
      $('#new_dest').addClass('in');
    }
    else {
      $('#new_dest').removeClass('in');
    }
  });
  $('#toggle_form').click(function() {
    if($('#tree_form').hasClass('in')) {
      $('#toggle_form').text('+');
      $('#toggle_form').removeClass('btn-danger');
      $('#toggle_form').addClass('btn-primary');
    } else {
      $('#toggle_form').html('&times;');
      $('#toggle_form').removeClass('btn-primary');
      $('#toggle_form').addClass('btn-danger');
    }
  });
});
</script>
{% endblock %}
