{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="visible-desktop container body-wrapper">
<h3>
  <a href="{% url 'tree-edit' tree.slug %}">{{ tree.name }}</a>
</h3>

<div class="table-responsive" data-toggle="tooltip" data-html="true">
  <table class="table table-striped">
    <tr>
    <td>
    <form style="display:inline-block;" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <label class="btn btn-primary btn-file">
          Browse <input type="file" name="file" style="display:none;">
      </label>
      <input class="btn btn-primary" type="submit" name="submit" value="Import" />
    </form>
    </td>
    <td>
        {{ importform.errors }}
    </td>
    <td>
      <a class="btn btn-default" type="submit" name="filter-es" href="{% url 'tree-filter' tree.slug %}" >Process</a>
    </td>
    <td></td>
    <td>
      <a class="btn btn-danger" type="submit" name="annotate" href="{% url 'annotations' tree.slug %}">Run</a>
    </td>
    </tr>
  </table>
</div>
<div id="tree">
</div>
<div>
  <a href="{% url 'node-insert' tree.slug %}">Add Root Node</a>
</div>
{% endblock %}
{% block scripts %}
<script>
function make_tree(tree) {
    tree_html = `<ul class="list-group">`;
    console.log(tree);
    for (var i = 0; i < tree.length; i++) {
        tree_html += unroll(tree[i]);
    }
    tree_html += "</ul>";
    return tree_html;
}

function unroll(node) {
    console.log(node);
    var list = `<li class="list-group-item">`;
    if (node['dictionary'] != null) {
        list += `<a href="{% url 'dictionaries' %}` + node['dictionary'] + `">` + node.label + `</a> `;
    }
    else {
        list += node.label + " ";
    }
    list += `<a href="{% url 'node-edit' tree.slug %}` + node['id'] + `">(edit)</a> <a href="{% url 'node-insert' tree.slug %}` + node['id'] + `">(add child)</a>`;
    if (node.hasOwnProperty('children') && node['children'].length) {
        list += `<ul class="list-group">`;
        for (var child in node['children']) {
            list += unroll(node['children'][child]);
        }
        list += "</ul>";
    }
    list += "</li>";
    return list;
}

$('document').ready(function() {
    var tree = JSON.parse("{{ tree_json | escapejs }}");
    console.log(tree);
    $('#tree').append(make_tree(tree));
});
</script>
{% endblock %}
