{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% if user.is_superuser or user in tree.project.assigned.all %}
<div class="visible-desktop container body-wrapper">
<h1>
  <a href="{% url 'project-detail' tree.project.slug %}">{{ tree.project.name }}</a> > 
{% if tree.owner == user or user in tree.editors.all %}
  <a href="{% url 'tree-edit' tree.project.slug tree.slug %}">{{ tree.name }}</a>
</h1>

<div class="table-responsive" data-toggle="tooltip" data-html="true">
  <table class="table table-striped">
    <tr>
    <td>
    <form style="display:inline-block;" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <label class="btn btn-primary btn-file">
          Browse <input type="file" name="file" style="display:none;">
      </label>
      <input class="btn btn-primary" type="submit" name="submit" value="Import" />
    </form>
    </td>
    <td>
        {{ importform.errors }}
    </td>
    <td>
    <form action="" method="POST">
      {% csrf_token %}
      <button class="btn btn-success" type="submit" name="export" value="Export">Export</button>
    </form>
    </td>
    <td>
      <a class="btn btn-default" type="submit" name="filter-es" href="{% url 'tree-query' project.slug tree.slug %}" >Filter ES</a>
      <a class="btn btn-default" type="submit" name="view-es" href="{{ elastic_url }}" >View ES</a>
    </td>
    <td>
      <a class="btn btn-danger" type="submit" name="annotate" href="{% url 'annotation-list' tree.slug %}">View Annotations</a>
    </td>
    </tr>
  </table>
</div>
{% else %}
{{ tree.name }}                                                                                                                                                           
{% endif %}
    
<div
        id="tree"
        class="block-style"
        data-url="{{ tree_json_url }}"
        data-insert_at_url="{{ insert_at_url }}"
        data-branch_url="{{ branch_url }}"
        data-edit_url="{{ edit_url }}"
        data-dict_url="{{ dict_url }}"
        data-save_state="{{ app_label }}_{{ model_name }}"
        data-auto_open="{{ tree_auto_open }}"
        data-autoescape="{{ autoescape }}"
        data-use_context_menu="{{ use_context_menu }}"
    ></div>
</div>
{% else %}
    {% include '404.html' %}
{% endif %}
{% endblock %}
{% block scripts %}
<script src="{% static 'js/tree.jquery.js' %}"></script>
<script src="{% static 'js/spin.js' %}"></script>
<script src="{% static 'js/jquery.cookie-1.4.1.min.js' %}"></script>
<script src="{% static 'js/django_mptt_admin.js' %}"></script>
{% endblock %}
