{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="visible-desktop container body-wrapper">
<h1>Edit {{ tree.name }}</h1>
<div class="table-responsive" data-toggle="tooltip" data-html="true">
  <table class="table table-striped">
    <form action="" method="POST">
      {% csrf_token %}
      <tr>
        <td>{{ form.name.label }}: {{ form.name }}</td>
        <td>{{ form.slug.label }}: {{ form.slug }}</td>
      </tr>
      <tr>
        <td>{{ form.doc_source.label }}: {{ form.doc_source }}</td>
        <td>{{ form.doc_dest.label }}: {{ form.doc_dest }}</td>
      </tr>
      <tr>
          <td>
            <div id="new_source" class="collapse">
              {{ form.new_source_index.label }}: {{ form.new_source_index }}
            </div>
          </td>
          <td>
            <div id="new_dest" class="collapse">
              {{ form.new_dest_index.label }}: {{ form.new_dest_index }}
            </div>
          </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><input class="btn btn-primary" type="submit" name="submit" value="Save" />
        <a class="btn btn-danger" href="{% url 'tree-detail' tree.slug %}">Cancel</a></td>
      </tr>
    </form>
  </table>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
  $('#id_doc_source').change(function() {
    console.log($("#id_doc_source").val());
    if($("#id_doc_source").val() == "") {
      $('#new_source').addClass('in');
    }
    else {
      $('#new_source').removeClass('in');
    }
  });
  $('#id_doc_dest').change(function() {
    if($("#id_doc_dest").val() == "") {
      $('#new_dest').addClass('in');
    }
    else {
      $('#new_dest').removeClass('in');
    }
  });
});
</script>
{% endblock %}
