{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="visible-desktop container body-wrapper">
<h1>Edit {{ tree.name }}</h1>
<div class="table-responsive" data-toggle="tooltip" data-html="true">
  <table class="table table-striped">
    <form action="" method="POST">
      {% csrf_token %}
      {% for field in form %}
      <tr>
        <td>{{ field.label }}</td>
        <td>{{ field }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td><input class="btn btn-primary" type="submit" name="submit" value="Save" /></td>
        <td><a class="btn btn-danger" href="{% url 'tree-detail' tree.project.slug tree.slug %}">Cancel</a></td>
      </tr>
    </form>
  </table>
</div>
{% endblock %}
