{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% if user.is_superuser or user in tree.project.assigned.all %}
<div class="visible-desktop container body-wrapper">
<h1>{{ tree.name }}</h1>
<form action="" method="POST">
<div class="table-responsive" data-toggle="tooltip" data-html="true">
  <table class="table table-striped">
    <tr>
    <td>
      {% csrf_token %}
      <button class="btn btn-success" type="submit" name="query" value="submit">Reindex with Filter</button>
    </td>
    </tr>
    <tr><td>Documents containing any words selected below will be reindexed to this tree's Destination Index: {{ tree.doc_dest_index.name }}</td></tr>
  </table>
</div>
<div id="tree">
</div>
</form>

{% else %}
    {% include '404.html' %}
{% endif %}
{% endblock %}
{% block scripts %}
<script>
function make_tree(tree) {
    tree_html = "<ul>";
    console.log(tree);
    for (var i = 0; i < tree.length; i++) {
        tree_html += unroll(tree[i]);
    }
    tree_html += "</ul>";
    return tree_html;
}

function unroll(node) {
    console.log(node);
    var list = `<li><input type="checkbox" name="${node.id}-add" value="True" />`;
    list += " " + node.label + " ";
    if (node.hasOwnProperty('children') && node['children'].length) {
        list += "<ul>";
        for (var child in node['children']) {
            list += unroll(node['children'][child]);
        }
        list += "</ul>";
    }
    list += "</li>";
    return list;
}

$('document').ready(function() {
    var tree = JSON.parse("{{ tree_json | escapejs }}");
    console.log(tree);
    $('#tree').append(make_tree(tree));
});
</script>
{% endblock %}
