beautifulsoup4
celery
Django<2.0
django-mptt
django-mptt-admin
django-sql-explorer
djangorestframework
elasticsearch
lxml
nltk
numpy
psutil
pyparsing
redis
requests
Scrapy
sqlparse
Twisted
django-environ
colorlog

# Production Packages
psycopg2
gunicorn
raven

# OAuth Packages
#oauth2client
