Django<2.0
django-environ>=0.4.3
colorlog

beautifulsoup4
django-dramatiq
django-fsm
django-model-utils

# dramatiq 1.1.0 + unreleased ShutdownNotifications middleware
-e git+https://github.com/Bogdanp/dramatiq.git#21ef374f0ae4189508e11ee7683fb55f1c296a5d#egg=dramatiq
elasticsearch>=6
elasticsearch-dsl>=6
redis
scrapy
shortuuid
terminaltables

# Optional Integrations
raven
